@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}


:root {
    /* Font */
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --font-normal: 400;
    --font-bold: 700;

    /* Colors */
    /* PRIMARY */
    --tomato: hsl(4, 100%, 67%);
    --tomato-light: hsl(4, 100%, 95%);
    /* NEUTRAL */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    /* GRADIENT */
    --gradient-pink: #ff3e83;
    --gradient-orange: #fd634a;
    --gradient-shadow: #ff3e8355;
}


body {
  height: 100vh;
  background-color: var(--charcoal-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #242742;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

input,
button {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 56px;
  width: 376px;
  cursor: pointer;
  outline: none;
}

button {
  background-color: #242742;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(to top, hsl(4, 93%, 71%), hsl(19, 90%, 54%));
  box-shadow: 0 20px 25px hsla(4, 100%, 67%, 0.5);
  transition: all 0.3s ease;
  color: #fff;
}

article {
  background-color: #fff;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
  padding: 15px;
}

.illustration-mobile {
  display: none;
}

.illustration-desktop {
  display: block;
}

.content {
  padding: 35px;
  padding-right: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  align-self: center;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

li {
  display: flex;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.labels {
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  width: 376px;
}

label, span {
  font-size: 12px;
  font-weight: 700;
}

figure {
  margin: 0;
}

.error-input {
  background-color: #ffe8e6;
  border: 1px solid #ffb5af;
}

.error-input#email {
  color: #f62714;
}

.success-message {
  padding: 30px; /* Default padding */
  width: 50%; 
  display: flex; 
  gap: 20px;  /* Default width for larger screens */
}

.visibility {
  display: none;
}

/* Responsive design using media queries */
@media (max-width: 900px) {

  body {
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: inherit;
  }

  article {
    gap: 35px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .success {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  h1 {
    font-size: 26px;
    text-align: start;
  }

  .newsletter-signup {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .illustration-mobile {
    display: block;
    width: 100%;
    overflow: hidden;
    img{
      width: inherit;
      height: auto;
    object-fit: cover;
    display: block;
    }
  }

  .illustration-desktop {
    display: none;
  }

  .content {
    margin-left: 0;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    li{
      width: 88%;

      img{
        height: 15px;
      }
    }
  }

  input,
  button {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .labels {
    width: 100%;
  }

  .success-message {
    width: 100%;   /* Full width on smaller screens */
    padding: 20px; /* Adjusted padding for smaller screens */
  }

  .success {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    header{
      width: 90%;
      margin-top: 40%;
    }

    button{
      display: block;
    }
  }
}
